
/* General page settings*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

/* List element settings */
li {
    float: center;
}

/* Link styling */
div a, 
li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-style: italic;
}
 
li a {
    text-align: center;
    padding: 10px 26px;
}
a:hover:not(.active) {
    color: red;
    text-decoration: none; 
}

/* Font size, padding & margins */

p,
h1, 
h2,
h3, 
h4 {
    color: grey;
    margin-left:  30px;
    margin-right: 30px;
}

p1 {
	color:grey;
	font-size: 13px;
}

p2, p3 {
	color:grey;
	font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

p a {
    display: inline;
}

/* Container styling - areas */ 
div.container{
    width: 1010px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#geo_data path {
  stroke: #fff;
}


div.container h3{
	margin-top: 20px;
}


div.transbox {
	margin-top: 0px;
	background-color: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

#text, 
div.transbox p {
	color: #000000;
    font-size: 18px;
  	margin-left:  30px;
  	margin-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    line-height: 130%;
}

div.transbox p3 {
    color: grey;    
    font-size: 15px;
}

button#year_toggle,
div.transbox,   
div.transbox p3,
div.transbox ul,
div.transbox h1,
div.transbox h2 {
    margin-right:  30px;
    margin-left:   30px;
    margin-bottom: 20px;    
}

div.transbox h1 {
    padding-bottom: 10px;
    padding-top: 10px;
}

div.transbox h2 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

div.transbox h3 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

div.transbox h2,
div.transbox h3,
div.transbox ul {
    color: #000000;
}

/* Button and SVG element styling + hovering */
.img {
    float: right;
}

.img-circle {
    border-radius: 50%;
    display: inline-block;
}

.buttonk {
    margin-left: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: #dbdcdd; /* Grey */
    border: none;
    color: white;
    padding: 70px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonk,
button#year_toggle,
.button_small {
    background-color: #dbdcdd; /* Grey */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

svg #path:text {
    color: white;
}

.buttonk {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#buttons {
    font-size: 16px;
    text-align: center;
}

#buttons li { 
	display: inline-block; 
    padding-top: 30px;
	padding-left: 9.3px;
    padding-right: 9.3px; 
}


button#year_toggle:hover ,
buttonk:hover,
button:hover {
    background-color: #ffffff;
}

.buttonk:active,
button#year_toggle:active,
.button_small:active { 
    background-color: #dbdcdd; /* Grey */
}
